<table class="tableau">
	<% let noLigne = 0 %>
		<% for (elm of adresses) { %>
			<% if (noLigne == 0){ %>
			<tr>
				<% noLigne++ %>
				<% for (p in elm) {%>
					<th><%= p %></th>
				<% } %>
					<th><a href="/ajouter/">Ajouter</a><th>
			<% } %>
			<tr>

				<% for (p in elm) {%>
				<td><%= elm[p] %></td>
				<% } %>
				<td><a href="/detruire/<%= elm._id %>">Delete</a></td>
				<td><a class='sauver' href="#">Sauver</a></td>
			</tr>
		<% } %>
</table>