<header class='entete'>
	<h1>Exercie 5</h1>
	<nav> 
		<ul>
			<li><a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i>Vider</a></li>
			<li><a href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a></li>
			<li><a href='/formulaire'><i class="fa fa-graduation-cap" aria-hidden="true"></i>S'incrire</a></li>
			<li><a href='/membres'><i class="fa fa-keyboard-o" aria-hidden="true"></i>Membres</a></li>
		</ul>
	</nav> 
 </header>