<header class='entete'>
	<h1>TP1</h1>
	<nav> 
		<ul>
			<li><a href='/'><i class="fas fa-home menu"></i></i>Accueil</a></li>
			<li><a href='/adresses'><i class="fas fa-address-book menu"></i></i>Adresses</a></li>
			<li><a href='/peupler'><i class="fa fa fa-users menu" aria-hidden="true"></i>Peuplement</a></li>
			<li><a href='/vider'><i class="fas fa-trash-alt menu"></i></i>Vider</a></li>
		</ul>
	</nav> 
</header>