<header class='entete'>
	<h1>Exercie 5</h1>
	<nav> 
		<ul>
			<li><a href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a></li>
			<li><a href='/adresses'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Adresses</a></li>
			<li><a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i>Peuplement</a></li>
			<li><a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i>Vider la liste de membres</a></li>
		</ul>
	</nav> 
</header>
