<form class='mon_formulaire' action="/modifier" name='mon_formulaire' id='mon_formulaire' method="POST" >
	<input id="inputId" type = "hidden" placeholder="id" name = "_id" value=''>
	<input id="inputPrenom" type = "text" placeholder="Prenom" name = "prenom">
	<input id="inputNom" type = "text" placeholder="Nom" name = "nom">
	<input id="inputTelephone" type = "text" placeholder="Téléphone" name = "telephone">
	<input id="inputCourriel" type = "text" placeholder="Courriel" name = "courriel">
	<input type="submit" value='Ajouter'>
</form>