<div id="sectionRech">
	<form action="/rechercher" name='recherche' id='recherche' method="POST">
		<input id="requete" type = "text" placeholder="Rechercher" name = "requete">
		<input type="submit" value='Rechercher'>
	</form>
</div>