<h2><%= __("clavardage") %></h2>
<section id="enregistrement">
	<p class="erreurConnexion">Entrez un nom d'utilisateur pour accéder au clavardage</p>
	<input type="text">
	<button onclick="enregistrement()">Enregistrement</button>
</section>
<section id='chat' style="display: none;">
	<div id="conteneurUser">
		<h3>Utilisateurs en ligne</h3>
		<table id='list_user'></table>
		<p><%= __("clavardageText") %></p>
	</div>
	<div id="conteneurMessage">
		<h3>Message</h3>
		<div>
			<table id='message'>
				<tr class='gabaritMessage'>
					<td class="messageUser"></td>
					<td class="contenu"></td>
				</tr>
			</table>
		</div>
		<section id='message_a_transmettre'>
			<textarea rows="4" name="message" form="usrform"></textarea>
			<button onclick='transmettre_un_message()'>Envoyer</button>
		</section>
	</div>
</section>