	<%- include('composants/head') %> 
	<body>
		<%- include('composants/entete') %>
		<h1>Accueil</h1>
		<div>
			<h1>Bienvenue!</h1>
			<p>Vous pouvez soit vous inscrire! Ou voir notre liste de membre.</p>
			<p>Bonne Visite!</p>
		<div>
		<%- include('composants/footer') %>
	</body>
</html>