	<%- include('composants/head') %> 
	<body>
		<%- include('composants/entete') %>
		<section>
			<h2>Accueil</h2>
			<div>
				<h3>Bienvenue!</h3>
				<p>Vous pouvez soit vous inscrire! Ou voir notre liste de membre.</p>
				<p>Bonne Visite!</p>
			<div>
		</section>
		<%- include('composants/footer') %>
	</body>
</html>