<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Mon Application</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<table class="tableau">
			<tr>
			    <th>Prénoms</th>
			    <th>Noms</th>
			    <th>Téléphones</th>
		    </tr>
			<% for (elm of adresses) {%>
			<tr>
				<!-- 
				Si on fait un for of et for in
				<% for (p in elm) {%>
					<td><%= elm[p] %></td>
				<% } %> -->

				<td><%= elm.prenom %></td>
				<td><%= elm.nom %></td>
				<td><%= elm.telephone %></td>
			</tr>
			<% } %>
		</table>
	</body>
</html>