	<%- include('composants/head') %> 
	<body>
		<%- include('composants/entete') %>
		<h1>Liste des Membres</h1>
		<%- include('composants/adr') %>
		
		<%- include('composants/footer') %>
	</body>
</html>