	<%- include('composants/head') %> 
	<body>
		<%- include('composants/entete') %>
		<section>
			<h2>Profil</h2>
			<%- include('composants/profilMembre') %>
		</section>
		<%- include('composants/footer') %>
	</body>
</html>