<%- include('composants/head') %>
<body>
	<%- include('composants/entete') %>
	<main>
		<%- include('composants/socket_body') %>
	</main>
	<%- include('composants/footer') %>
</body>
<script src="/socket.io/socket.io.js"></script>
</html>