<%- include('composants/head') %>
<body>
	<%- include('composants/entete') %>
	<section class='principal'>
		<%- include('composants/socket_body') %>
	</section>
	<%- include('composants/footer') %>
</body>
<script src="/socket.io/socket.io.js"></script>
</html>